.root {
  width: min-content;
  height: min-content;
  padding: 2px 8px;
  border-radius: 16px;
  background-color: #eef4ff;
}
.text {
  color: #3538cd;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
