._ButtonGroupBase._ButtonGroupBase {
  height: 42px;
  align-items: center;
  outline: solid 1px #d0d5dd;
  outline-offset: 0px;
  border-radius: 30px;
  box-shadow: initial;
}
.arrowLeft.arrowLeft {
  z-index: 0;
  width: 20px;
  height: 20px;
}
.icon {
  width: 100%;
  height: 100%;
}
._TabButtonBase._TabButtonBase {
  width: 178px;
  justify-content: center;
  background-color: #0e9384;
}
.text {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
._TabButtonBase2._TabButtonBase2 {
  width: 166px;
  justify-content: center;
}
.text2 {
  color: #344054;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.text3 {
  color: #475467;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.avatar.avatar {
  background-image:/* webpackIgnore: true */ url('/assets/avatar.jpeg');
}
.avatar2.avatar2 {
  background-image:/* webpackIgnore: true */ url('/assets/avatar2.jpeg');
}
.avatar3.avatar3 {
  background-image:/* webpackIgnore: true */ url('/assets/avatar3.jpeg');
}
.avatar4.avatar4 {
  background-image:/* webpackIgnore: true */ url('/assets/avatar4.jpeg');
}
.avatar5.avatar5 {
  background-image:/* webpackIgnore: true */ url('/assets/avatar5.jpeg');
}
.avatar6.avatar6 {
  background-image:/* webpackIgnore: true */ url('/assets/avatar6.jpeg');
}
.avatar7.avatar7 {
  background-image:/* webpackIgnore: true */ url('/assets/avatar7.jpeg');
}
.tableHeaderCell.tableHeaderCell {
  width: initial;
  align-self: stretch;
  background-color: #fcfcfd;
}
.text4 {
  color: #475467;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell.tableCell {
  width: initial;
  align-self: stretch;
  padding: 16px 8px 16px 24px;
  margin: 0px 0px 0px -1px;
}
.progress.progress.progress {
  background-color: #0e9384;
}
.percentage {
  color: #344054;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell2.tableCell2 {
  width: initial;
  align-self: stretch;
  padding: 16px 8px 16px 24px;
  margin: 0px 0px 0px -1px;
}
.progressBar.progressBar {
  width: initial;
  height: initial;
  flex: 1;
}
.progress2.progress2 {
  background-color: #0e9384;
}
.percentage2 {
  color: #344054;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell3.tableCell3 {
  width: initial;
  align-self: stretch;
  padding: 16px 8px 16px 24px;
  margin: 0px 0px 0px -1px;
}
.progressBar2.progressBar2 {
  width: initial;
  height: initial;
  flex: 1;
}
.progress3.progress3 {
  background-color: #0e9384;
}
.percentage3 {
  color: #344054;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell4.tableCell4 {
  width: initial;
  align-self: stretch;
  padding: 16px 8px 16px 24px;
  margin: 0px 0px 0px -1px;
}
.progressBar3.progressBar3 {
  width: initial;
  height: initial;
  flex: 1;
}
.progress4.progress4 {
  background-color: #0e9384;
}
.percentage4 {
  color: #344054;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell5.tableCell5 {
  width: initial;
  align-self: stretch;
  padding: 16px 8px 16px 24px;
  margin: 0px 0px 0px -1px;
}
.progressBar4.progressBar4 {
  width: initial;
  height: initial;
  flex: 1;
}
.progress5.progress5 {
  background-color: #0e9384;
}
.percentage5 {
  color: #344054;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell6.tableCell6 {
  width: initial;
  align-self: stretch;
  padding: 16px 8px 16px 24px;
  margin: 0px 0px 0px -1px;
}
.progress6.progress6.progress6 {
  background-color: #0e9384;
}
.percentage6 {
  color: #344054;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell7.tableCell7 {
  width: initial;
  align-self: stretch;
  padding: 16px 8px 16px 24px;
  margin: 0px 0px 0px -1px;
}
.progressBar5.progressBar5 {
  width: initial;
  height: initial;
  flex: 1;
}
.progress7.progress7 {
  background-color: #0e9384;
}
.percentage7 {
  color: #344054;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  background-color: #fff;
  overflow: hidden;
}
.barsStatusBarIPhoneLight {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 44px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle29 {
  position: absolute;
  left: 0;
  top: 0;
  width: 390px;
  height: 44px;
  background-color: #0e9384;
  box-shadow: 0px 1px 2px 0px #00000017;
}
.battery {
  position: absolute;
  left: 349.7867px;
  top: 17.3333px;
  width: 25.3012px;
  height: 11.3333px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.wifi {
  position: absolute;
  left: 328.64px;
  top: 17.3307px;
  width: 15.9466px;
  height: 11px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.cellularConnection {
  position: absolute;
  left: 305.76px;
  top: 17.6667px;
  width: 17.68px;
  height: 10.6667px;
  overflow: visible;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.timeStyle {
  position: absolute;
  left: 2.0513%;
  right: 83.5487%;
  top: 15.9091%;
  bottom: 36.3636%;
  flex-direction: column;
  align-items: flex-start;
}
.time {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.24px;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - -5.5px);
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-50%);
}
.frame3 {
  position: absolute;
  left: 0;
  top: 44px;
  width: 389px;
  height: 52px;
  align-items: flex-start;
  gap: 10px;
  padding: 10px;
}
.quiz1 {
  color: #667085;
  font-size: 15px;
  line-height: 22px;
  font-weight: bold;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: 117px;
  height: 42px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.rectangle39 {
  position: absolute;
  left: 50%;
  bottom: 34px;
  width: 390px;
  height: 68px;
  background-color: #fdfdfd;
  box-shadow: 0px 1px 2px 0px #00000017;
  transform: translateX(-50%);
}
.rectangle33 {
  position: absolute;
  left: calc(50% - 130px);
  bottom: 34px;
  width: 130px;
  height: 68px;
  background-color: #fdfdfd;
  transform: translateX(-50%);
}
.jamHome {
  position: absolute;
  left: calc(50% - 129.4799px);
  bottom: 56px;
  width: 24.96px;
  height: 24px;
  transform: translateX(-50%);
}
.icon5 {
  width: 100%;
  height: 100%;
}
.rectangle34 {
  position: absolute;
  left: calc(50% - -0.0002px);
  bottom: 34px;
  width: 130px;
  height: 68px;
  background-color: #fdfdfd;
  transform: translateX(-50%);
}
.rectangle38 {
  position: absolute;
  left: calc(50% - 0px);
  bottom: 49px;
  width: 96.72px;
  height: 38px;
  border-radius: 4px;
  background-color: #fdfdfd;
  transform: translateX(-50%);
}
.workspace {
  color: #107569;
  font-size: 12px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - -25.5002px);
  bottom: 56px;
  width: 63px;
  height: min-content;
  flex-direction: column;
  transform: translateX(-50%);
}
.clarityBookSolid {
  position: absolute;
  left: calc(50% - 23.3999px);
  bottom: 55px;
  width: 24.96px;
  height: 24px;
  transform: translateX(-50%);
}
.icon6 {
  width: 100%;
  height: 100%;
}
.rectangle35 {
  position: absolute;
  left: calc(50% - -129.9998px);
  bottom: 34px;
  width: 130px;
  height: 68px;
  background-color: #fdfdfd;
  transform: translateX(-50%);
}
.icOutlineAccountCircle {
  position: absolute;
  left: calc(50% - -130.5198px);
  bottom: 56px;
  width: 24.96px;
  height: 24px;
  transform: translateX(-50%);
}
.icon7 {
  width: 100%;
  height: 100%;
}
.barsHomeIndicatorIPhoneLightPo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 34px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle30 {
  position: absolute;
  left: 0;
  top: 0;
  width: 375px;
  height: 34px;
  background-color: #fdfdfd;
}
.homeIndicator {
  position: absolute;
  left: 50%;
  bottom: 8px;
  width: 134px;
  height: 5px;
  border-radius: 100px;
  background-color: #181818;
  transform: translateX(-50%);
}
.frame4 {
  position: absolute;
  left: calc(50% - 0.5px);
  top: 112px;
  width: 367px;
  height: min-content;
  align-items: flex-start;
  gap: 23px;
  transform: translateX(-50%);
}
.rank {
  position: absolute;
  left: 0;
  top: 172px;
  width: 390px;
  height: min-content;
  align-items: flex-start;
  background-color: #fff;
}
.column {
  width: 186px;
  height: min-content;
  flex-direction: column;
}
.tableHeaderCell2 {
  height: 44px;
  align-self: stretch;
  align-items: center;
  gap: 12px;
  padding: 12px 24px;
  background-color: #fcfcfd;
  box-shadow: inset 0px -1px 0px #eaecf0;
}
.tableCell8 {
  height: 72px;
  align-self: stretch;
  align-items: center;
  gap: 12px;
  padding: 16px 24px;
  box-shadow: inset 0px -1px 0px #eaecf0;
}
.textAndSupportingText {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
}
.text5 {
  color: #101828;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.supportingText {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell9 {
  height: 72px;
  align-self: stretch;
  align-items: center;
  gap: 12px;
  padding: 16px 24px;
  box-shadow: inset 0px -1px 0px #eaecf0;
}
.textAndSupportingText2 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
}
.text6 {
  color: #101828;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.supportingText2 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell10 {
  height: 72px;
  align-self: stretch;
  align-items: center;
  gap: 12px;
  padding: 16px 24px;
  box-shadow: inset 0px -1px 0px #eaecf0;
}
.textAndSupportingText3 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
}
.text7 {
  color: #101828;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.supportingText3 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell11 {
  height: 72px;
  align-self: stretch;
  align-items: center;
  gap: 12px;
  padding: 16px 24px;
  box-shadow: inset 0px -1px 0px #eaecf0;
}
.textAndSupportingText4 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
}
.text8 {
  color: #101828;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.supportingText4 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell12 {
  height: 72px;
  align-self: stretch;
  align-items: center;
  gap: 12px;
  padding: 16px 24px;
  box-shadow: inset 0px -1px 0px #eaecf0;
}
.textAndSupportingText5 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
}
.text9 {
  color: #101828;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.supportingText5 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell13 {
  height: 72px;
  align-self: stretch;
  align-items: center;
  gap: 12px;
  padding: 16px 24px;
  box-shadow: inset 0px -1px 0px #eaecf0;
}
.textAndSupportingText6 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
}
.text10 {
  color: #101828;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.supportingText6 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell14 {
  height: 72px;
  align-self: stretch;
  align-items: center;
  gap: 12px;
  padding: 16px 24px;
  box-shadow: inset 0px -1px 0px #eaecf0;
}
.textAndSupportingText7 {
  width: min-content;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
}
.text11 {
  color: #101828;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.supportingText7 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.column2 {
  width: 204px;
  height: 548px;
  flex-direction: column;
}
