.oLD_ButtonBase.oLD_ButtonBase {
  z-index: 0;
  align-self: flex-start;
  outline: initial;
  outline-offset: initial;
  background-color: initial;
  box-shadow: initial;
}
.text {
  color: #667085;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  width: min-content;
  height: min-content;
  outline: solid 8px #f79009;
  outline-offset: -4px;
  border-radius: 8px;
}
