.cardHeader.cardHeader {
  width: initial;
  align-self: stretch;
}
.textAndSupportingText.textAndSupportingText {
  align-items: flex-start;
}
.text {
  color: #6941c6;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.tableHeaderCell.tableHeaderCell {
  width: initial;
  align-self: stretch;
}
.text2 {
  color: #475467;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell.tableCell {
  width: initial;
  align-self: stretch;
}
.avatar.avatar.avatar {
  background-image:/* webpackIgnore: true */ url('/assets/avatar2.png');
}
.supportingText {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell2.tableCell2 {
  width: initial;
  align-self: stretch;
}
.avatar2.avatar2.avatar2 {
  background-color: #aa9c75;
  background-image:/* webpackIgnore: true */ url('/assets/avatar3.png');
}
.text3 {
  color: #101828;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.supportingText2 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell3.tableCell3 {
  width: initial;
  align-self: stretch;
}
.avatar3.avatar3.avatar3 {
  background-color: #d4b5ad;
  background-image:/* webpackIgnore: true */ url('/assets/avatar4.png');
}
.text4 {
  color: #101828;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.supportingText3 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell4.tableCell4 {
  width: initial;
  align-self: stretch;
}
.avatar4.avatar4.avatar4 {
  background-color: #bea887;
  background-image:/* webpackIgnore: true */ url('/assets/avatar5.png');
}
.text5 {
  color: #101828;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.supportingText4 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell5.tableCell5 {
  width: initial;
  align-self: stretch;
}
.text6 {
  color: #475467;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.text7 {
  color: #101828;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.supportingText5 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell6.tableCell6 {
  width: initial;
  align-self: stretch;
}
.avatar5.avatar5.avatar5 {
  background-color: #d1baa9;
  background-image:/* webpackIgnore: true */ url('/assets/avatar6.png');
}
.text8 {
  color: #101828;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.supportingText6 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell7.tableCell7 {
  width: initial;
  align-self: stretch;
}
.avatar6.avatar6.avatar6 {
  background-color: #d1dfc3;
  background-image:/* webpackIgnore: true */ url('/assets/avatar7.png');
}
.text9 {
  color: #101828;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.supportingText7 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell8.tableCell8 {
  width: initial;
  align-self: stretch;
}
.text10 {
  color: #475467;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40px;
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translate(-50%, -50%);
}
.text11 {
  color: #101828;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.supportingText8 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell9.tableCell9 {
  width: initial;
  align-self: stretch;
}
.avatar7.avatar7.avatar7 {
  background-color: #d2c7ac;
  background-image:/* webpackIgnore: true */ url('/assets/avatar8.png');
}
.text12 {
  color: #101828;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.supportingText9 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell10.tableCell10 {
  width: initial;
  align-self: stretch;
}
.avatar8.avatar8.avatar8 {
  background-color: #dbc0dd;
  background-image:/* webpackIgnore: true */ url('/assets/avatar9.png');
}
.text13 {
  color: #101828;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.supportingText10 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableHeaderCell2.tableHeaderCell2 {
  width: initial;
  align-self: stretch;
}
.text14 {
  color: #475467;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell11.tableCell11 {
  width: initial;
  align-self: stretch;
}
.text15 {
  color: #027a48;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell12.tableCell12 {
  width: initial;
  align-self: stretch;
}
.text16 {
  color: #027a48;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell13.tableCell13 {
  width: initial;
  align-self: stretch;
}
.text17 {
  color: #027a48;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell14.tableCell14 {
  width: initial;
  align-self: stretch;
}
.text18 {
  color: #027a48;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell15.tableCell15 {
  width: initial;
  align-self: stretch;
}
.text19 {
  color: #027a48;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell16.tableCell16 {
  width: initial;
  align-self: stretch;
}
.text20 {
  color: #027a48;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell17.tableCell17 {
  width: initial;
  align-self: stretch;
}
.text21 {
  color: #027a48;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell18.tableCell18 {
  width: initial;
  align-self: stretch;
}
.text22 {
  color: #027a48;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell19.tableCell19 {
  width: initial;
  align-self: stretch;
}
.text23 {
  color: #027a48;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell20.tableCell20 {
  width: initial;
  align-self: stretch;
}
.text24 {
  color: #027a48;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  text-align: center;
  align-items: center;
  white-space: nowrap;
  flex-direction: column;
}
.tableHeaderCell3.tableHeaderCell3 {
  width: initial;
  align-self: stretch;
}
.text25 {
  color: #475467;
  font-size: 12px;
  line-height: 18px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell21.tableCell21 {
  width: initial;
  align-self: stretch;
}
.text26 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell22.tableCell22 {
  width: initial;
  align-self: stretch;
}
.text27 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell23.tableCell23 {
  width: initial;
  align-self: stretch;
}
.text28 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell24.tableCell24 {
  width: initial;
  align-self: stretch;
}
.text29 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell25.tableCell25 {
  width: initial;
  align-self: stretch;
}
.text30 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell26.tableCell26 {
  width: initial;
  align-self: stretch;
}
.text31 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell27.tableCell27 {
  width: initial;
  align-self: stretch;
}
.text32 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell28.tableCell28 {
  width: initial;
  align-self: stretch;
}
.text33 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell29.tableCell29 {
  width: initial;
  align-self: stretch;
}
.text34 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.tableCell30.tableCell30 {
  width: initial;
  align-self: stretch;
}
.text35 {
  color: #475467;
  font-size: 14px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  position: absolute;
  left: 1264px;
  top: 16px;
  width: 375px;
  height: min-content;
  flex-direction: column;
  outline: solid 1px #eaecf0;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px #1018280f, 0px 1px 3px 0px #1018281a;
}
.content {
  height: min-content;
  align-self: stretch;
  align-items: flex-start;
  background-color: #fff;
}
.column {
  width: min-content;
  height: min-content;
  flex-direction: column;
}
.column2 {
  width: 120px;
  height: min-content;
  flex-direction: column;
}
.column3 {
  width: 176px;
  height: min-content;
  flex-direction: column;
}
