.inputField.inputField {
  left: 50%;
  top: 512px;
  width: 356px;
  transform: translateX(-50%);
}
.label {
  color: #344054;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.text {
  color: #667085;
  font-size: 16px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  height: min-content;
  flex: 1;
  flex-direction: column;
}
.button.button {
  left: 50%;
  top: 693px;
  width: 366px;
  height: 41px;
  gap: initial;
  padding: 10px 0;
  outline: solid 1px #107569;
  background-color: #107569;
  transform: translateX(-50%);
}
.text2 {
  color: #fff;
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.inputDropdown.inputDropdown {
  left: 50%;
  top: 408px;
  width: 360px;
  height: 85px;
  transform: translateX(-50%);
}
.label2 {
  color: #344054;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  outline: solid 1px #008c87;
  outline-offset: -1px;
  background-color: #fff;
  overflow: hidden;
}
.barsStatusBarIPhoneLight {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 44px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle29 {
  position: absolute;
  left: 0;
  top: 0;
  width: 390px;
  height: 44px;
  background-color: #0e9384;
  box-shadow: 0px 1px 2px 0px #00000017;
}
.battery {
  position: absolute;
  left: 349.7867px;
  top: 17.3333px;
  width: 25.3012px;
  height: 11.3333px;
  overflow: visible;
}
.icon {
  width: 100%;
  height: 100%;
}
.wifi {
  position: absolute;
  left: 328.64px;
  top: 17.3307px;
  width: 15.9466px;
  height: 11px;
  overflow: visible;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.cellularConnection {
  position: absolute;
  left: 305.76px;
  top: 17.6667px;
  width: 17.68px;
  height: 10.6667px;
  overflow: visible;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.timeStyle {
  position: absolute;
  left: 2.0513%;
  right: 83.5487%;
  top: 15.9091%;
  bottom: 36.3636%;
  flex-direction: column;
  align-items: flex-start;
}
.time {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.24px;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - -5.5px);
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle33 {
  position: absolute;
  left: 11px;
  top: 118px;
  width: 367px;
  height: 54px;
  outline: solid 1px #e0e0e0;
  outline-offset: -1px;
  border-radius: 6px;
  background-color: #f2f2f2;
}
.antDesignSearchOutlined {
  position: absolute;
  left: 26.2493px;
  top: 133px;
  width: 24.3989px;
  height: 24px;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.search {
  color: #4f4f4f;
  font-size: 12px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 62.8476px;
  top: 134px;
  width: 52.8643px;
  height: min-content;
  flex-direction: column;
}
.text3 {
  color: #101828;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 18px;
  top: 65px;
  width: 343px;
  height: min-content;
  flex-direction: column;
}
.clarityNotificationSolidBadged {
  position: absolute;
  left: 351px;
  top: 66px;
  width: 25.6793px;
  height: 24px;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.rectangle40 {
  position: absolute;
  left: calc(50% - 0.5px);
  top: 200px;
  width: 367px;
  height: 167px;
  outline: solid 1px #34405499;
  outline-offset: -1px;
  border-radius: 8px;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle40.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transform: translateX(-50%);
}
.barsHomeIndicatorIPhoneLightPo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 34px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle30 {
  position: absolute;
  left: 0;
  top: 0;
  width: 375px;
  height: 34px;
  background-color: #fdfdfd;
}
.homeIndicator {
  position: absolute;
  left: 50%;
  bottom: 8px;
  width: 134px;
  height: 5px;
  border-radius: 100px;
  background-color: #181818;
  transform: translateX(-50%);
}
.rectangle39 {
  position: absolute;
  left: 50%;
  bottom: 34px;
  width: 390px;
  height: 68px;
  background-color: #fdfdfd;
  transform: translateX(-50%);
}
.rectangle332 {
  position: absolute;
  left: calc(50% - 130px);
  bottom: 34px;
  width: 130px;
  height: 68px;
  background-color: #fdfdfd;
  transform: translateX(-50%);
}
.rectangle38 {
  position: absolute;
  left: calc(50% - 129.9998px);
  bottom: 49px;
  width: 96.72px;
  height: 38px;
  border-radius: 4px;
  background-color: #fdfdfd;
  transform: translateX(-50%);
}
.home {
  color: #125d56;
  font-size: 12px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 102.9599px);
  bottom: 55px;
  width: 59.28px;
  height: min-content;
  flex-direction: column;
  transform: translateX(-50%);
}
.jamHomeF {
  position: absolute;
  left: calc(50% - 150.28px);
  bottom: 55px;
  width: 24.96px;
  height: 24px;
  transform: translateX(-50%);
}
.icon6 {
  width: 100%;
  height: 100%;
}
.rectangle34 {
  position: absolute;
  left: calc(50% - -0.0002px);
  bottom: 34px;
  width: 130px;
  height: 68px;
  background-color: #fdfdfd;
  transform: translateX(-50%);
}
.clarityBookLine {
  position: absolute;
  left: calc(50% - -0.52px);
  bottom: 56px;
  width: 24.96px;
  height: 24px;
  transform: translateX(-50%);
}
.icon7 {
  width: 100%;
  height: 100%;
}
.rectangle35 {
  position: absolute;
  left: calc(50% - -129.9998px);
  bottom: 34px;
  width: 130px;
  height: 68px;
  background-color: #fdfdfd;
  transform: translateX(-50%);
}
.icOutlineAccountCircle {
  position: absolute;
  left: calc(50% - -130.5198px);
  bottom: 56px;
  width: 24.96px;
  height: 24px;
  transform: translateX(-50%);
}
.icon8 {
  width: 100%;
  height: 100%;
}
