.latestNews2.latestNews2 {
  left: 50%;
  top: 513px;
  width: 358px;
  overflow: hidden;
  transform: translateX(-50%);
}
.howToWorkOutAPercentageUsingAC {
  color: #181818;
  font-size: 12px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 43.7681%;
  right: 0%;
  top: 49.1304%;
  bottom: 46.087%;
  height: min-content;
  flex-direction: column;
}
._24August2020 {
  color: #4f4f4f;
  font-size: 10px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 49.8551%;
  right: 38.1338%;
  top: 63.6957%;
  bottom: 31.9565%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icon {
  width: 100%;
  height: 100%;
}
.vishwarajsinhRana_1fByLYHA_0Un.vishwarajsinhRana_1fByLYHA_0Un {
  background-color: #dcd7d7;
  background-image: initial;
  background-position: initial;
  background-repeat: initial;
  background-size: auto;
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/maskGroup4.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/maskGroup4.svg');
  -webkit-mask-size: 144.23768615722656px 114px;
  mask-size: 144.23768615722656px 114px;
}
.mathematics {
  color: #4f4f4f;
  font-size: 10px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 43.7681%;
  right: 47.2933%;
  top: 43.6957%;
  bottom: 51.9565%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.howToWorkOutAPercentageUsingAC2 {
  color: #181818;
  font-size: 12px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 43.1884%;
  right: 0.5797%;
  top: 80.6522%;
  bottom: 14.5652%;
  height: min-content;
  flex-direction: column;
}
._24August20202 {
  color: #4f4f4f;
  font-size: 10px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 49.2754%;
  right: 38.9928%;
  top: 95.2174%;
  bottom: 0.4348%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.vishwarajsinhRana_1fByLYHA_0Un2.vishwarajsinhRana_1fByLYHA_0Un2 {
  background-color: #493131;
  background-image: initial;
  background-position: initial;
  background-repeat: initial;
  background-size: auto;
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/maskGroup5.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/maskGroup5.svg');
  -webkit-mask-size: 144.23768615722656px 114px;
  mask-size: 144.23768615722656px 114px;
}
.mathematics2 {
  color: #4f4f4f;
  font-size: 10px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 43.1884%;
  right: 48.1524%;
  top: 75.2174%;
  bottom: 20.4348%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.theEffectsOfTemperatureOnEnzym {
  color: #181818;
  font-size: 12px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 43.7681%;
  right: 0%;
  top: 17.3913%;
  bottom: 73.0435%;
  flex-direction: column;
}
._1HourAgo {
  color: #4f4f4f;
  font-size: 10px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 49.8551%;
  right: 42.0444%;
  top: 32.6087%;
  bottom: 63.0435%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.nationalCancerInstituteL7en7Lb.nationalCancerInstituteL7en7Lb {
  background-color: #eaecf0;
  background-image: initial;
  background-position: initial;
  background-repeat: initial;
  background-size: auto;
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/maskGroup6.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/maskGroup6.svg');
  -webkit-mask-position: 8.301448822021484px 21px;
  mask-position: 8.301448822021484px 21px;
  -webkit-mask-size: 144.23768615722656px 114px;
  mask-size: 144.23768615722656px 114px;
}
.biology {
  color: #4f4f4f;
  font-size: 10px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 43.7681%;
  right: 47.5727%;
  top: 11.9565%;
  bottom: 83.6957%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.latestNews {
  color: #181818;
  font-size: 14px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0.5797%;
  right: 81.5432%;
  top: 0;
  bottom: 94.7826%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.icon4 {
  width: 100%;
  height: 100%;
}
.root {
  position: relative;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  align-items: flex-start;
  outline: solid 1px #008c87;
  outline-offset: -1px;
  background-color: #fff;
  overflow: hidden;
}
.barsStatusBarIPhoneLight {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  height: 44px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle29 {
  position: absolute;
  left: 0;
  top: 0;
  width: 390px;
  height: 44px;
  background-color: #0e9384;
  box-shadow: 0px 1px 2px 0px #00000017;
}
.battery {
  position: absolute;
  left: 349.7867px;
  top: 17.3333px;
  width: 25.3012px;
  height: 11.3333px;
  overflow: visible;
}
.icon5 {
  width: 100%;
  height: 100%;
}
.wifi {
  position: absolute;
  left: 328.64px;
  top: 17.3307px;
  width: 15.9466px;
  height: 11px;
  overflow: visible;
}
.icon6 {
  width: 100%;
  height: 100%;
}
.cellularConnection {
  position: absolute;
  left: 305.76px;
  top: 17.6667px;
  width: 17.68px;
  height: 10.6667px;
  overflow: visible;
}
.icon7 {
  width: 100%;
  height: 100%;
}
.timeStyle {
  position: absolute;
  left: 2.0513%;
  right: 83.5487%;
  top: 15.9091%;
  bottom: 36.3636%;
  flex-direction: column;
  align-items: flex-start;
}
.time {
  color: #fff;
  font-size: 15px;
  line-height: 20px;
  font-weight: bold;
  font-family: Roboto, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  letter-spacing: -0.24px;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% - -5.5px);
  height: min-content;
  text-align: center;
  align-items: center;
  flex-direction: column;
  transform: translateY(-50%);
}
.rectangle33 {
  position: absolute;
  left: 11px;
  top: 118px;
  width: 367px;
  height: 54px;
  outline: solid 1px #e0e0e0;
  outline-offset: -1px;
  border-radius: 6px;
  background-color: #f2f2f2;
}
.antDesignSearchOutlined {
  position: absolute;
  left: 26.2493px;
  top: 133px;
  width: 24.3989px;
  height: 24px;
}
.icon8 {
  width: 100%;
  height: 100%;
}
.search {
  color: #4f4f4f;
  font-size: 12px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 62.8476px;
  top: 134px;
  width: 52.8643px;
  height: min-content;
  flex-direction: column;
}
.text {
  color: #101828;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 18px;
  top: 65px;
  width: 343px;
  height: min-content;
  flex-direction: column;
}
.rectangle40 {
  position: absolute;
  left: 11px;
  top: 195px;
  width: 367px;
  height: 167px;
  outline: solid 1px #34405499;
  outline-offset: -1px;
  border-radius: 8px;
  background-image:/* webpackIgnore: true */ url('/assets/rectangle40.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.inputWithLabel {
  position: absolute;
  left: 50%;
  top: 383px;
  width: 358px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  transform: translateX(-50%);
}
.input {
  height: min-content;
  align-self: stretch;
  padding: 10px 14px;
  outline: solid 1px #d0d5dd;
  outline-offset: -1px;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px #1018280d;
}
.content {
  height: min-content;
  flex: 1;
  align-self: flex-start;
}
.text2 {
  color: #667085;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.inputWithLabel2 {
  position: absolute;
  left: 50%;
  top: 448px;
  width: 358px;
  height: min-content;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  transform: translateX(-50%);
}
.input2 {
  height: min-content;
  align-self: stretch;
  padding: 10px 14px;
  outline: solid 1px #d0d5dd;
  outline-offset: -1px;
  border-radius: 8px;
  background-color: #fff;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px #1018280d;
}
.content2 {
  height: min-content;
  flex: 1;
  align-self: flex-start;
}
.text3 {
  color: #667085;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.clarityNotificationSolidBadged {
  position: absolute;
  left: 351px;
  top: 66px;
  width: 25.6793px;
  height: 24px;
}
.icon9 {
  width: 100%;
  height: 100%;
}
.barsHomeIndicatorIPhoneLightPo {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 34px;
  flex-direction: column;
  align-items: flex-start;
}
.rectangle30 {
  position: absolute;
  left: 0;
  top: 0;
  width: 375px;
  height: 34px;
  background-color: #fdfdfd;
}
.homeIndicator {
  position: absolute;
  left: 50%;
  bottom: 8px;
  width: 134px;
  height: 5px;
  border-radius: 100px;
  background-color: #181818;
  transform: translateX(-50%);
}
.rectangle39 {
  position: absolute;
  left: 50%;
  bottom: 34px;
  width: 390px;
  height: 68px;
  background-color: #fdfdfd;
  transform: translateX(-50%);
}
.rectangle332 {
  position: absolute;
  left: calc(50% - 130px);
  bottom: 34px;
  width: 130px;
  height: 68px;
  background-color: #fdfdfd;
  transform: translateX(-50%);
}
.rectangle38 {
  position: absolute;
  left: calc(50% - 129.9998px);
  bottom: 49px;
  width: 96.72px;
  height: 38px;
  border-radius: 4px;
  background-color: #fdfdfd;
  transform: translateX(-50%);
}
.home {
  color: #125d56;
  font-size: 12px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: calc(50% - 102.9599px);
  bottom: 55px;
  width: 59.28px;
  height: min-content;
  flex-direction: column;
  transform: translateX(-50%);
}
.jamHomeF {
  position: absolute;
  left: calc(50% - 150.28px);
  bottom: 55px;
  width: 24.96px;
  height: 24px;
  transform: translateX(-50%);
}
.icon10 {
  width: 100%;
  height: 100%;
}
.rectangle34 {
  position: absolute;
  left: calc(50% - -0.0002px);
  bottom: 34px;
  width: 130px;
  height: 68px;
  background-color: #fdfdfd;
  transform: translateX(-50%);
}
.clarityBookLine {
  position: absolute;
  left: calc(50% - -0.52px);
  bottom: 56px;
  width: 24.96px;
  height: 24px;
  transform: translateX(-50%);
}
.icon11 {
  width: 100%;
  height: 100%;
}
.rectangle35 {
  position: absolute;
  left: calc(50% - -129.9998px);
  bottom: 34px;
  width: 130px;
  height: 68px;
  background-color: #fdfdfd;
  transform: translateX(-50%);
}
.icOutlineAccountCircle {
  position: absolute;
  left: calc(50% - -130.5198px);
  bottom: 56px;
  width: 24.96px;
  height: 24px;
  transform: translateX(-50%);
}
.icon12 {
  width: 100%;
  height: 100%;
}
.button {
  position: absolute;
  left: 336px;
  top: 694px;
  width: 48px;
  height: 48px;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 8px 14px;
  outline: solid 1px #d0d5dd;
  outline-offset: -1px;
  border-radius: 30px;
  background-color: #107569;
  overflow: hidden;
  box-shadow: 0px 1px 2px 0px #1018280d;
}
