.root {
  position: absolute;
  left: 0;
  top: 0;
  width: 345px;
  height: 460px;
  flex-direction: column;
  align-items: flex-start;
}
.howToWorkOutAPercentageUsingAC {
  color: #181818;
  font-size: 12px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 43.7681%;
  right: 0;
  top: 49.1304%;
  bottom: 41.3043%;
  height: min-content;
  flex-direction: column;
}
._24August2020 {
  color: #4f4f4f;
  font-size: 10px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 49.8551%;
  right: 28.1159%;
  top: 63.6957%;
  bottom: 31.9565%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.bxBxTime {
  position: absolute;
  left: 43.7681%;
  right: 51.5942%;
  top: 64.3478%;
  bottom: 32.1739%;
}
.icon {
  width: 100%;
  height: 100%;
}
.vishwarajsinhRana_1fByLYHA_0Un {
  position: absolute;
  left: 0.5797%;
  right: 59.1304%;
  top: 35.2174%;
  bottom: 11.3043%;
  background-image:/* webpackIgnore: true */ url('/assets/vishwarajsinhRana_1fByLYHA_0Un.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/maskGroup.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/maskGroup.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 0px 39px;
  mask-position: 0px 39px;
  -webkit-mask-size: 139px 114px;
  mask-size: 139px 114px;
}
.mathematics {
  color: #4f4f4f;
  font-size: 10px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 43.7681%;
  right: 37.6812%;
  top: 43.6957%;
  bottom: 51.9565%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.howToWorkOutAPercentageUsingAC2 {
  color: #181818;
  font-size: 12px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 43.1884%;
  right: 0.5797%;
  top: 80.6522%;
  bottom: 9.7826%;
  height: min-content;
  flex-direction: column;
}
._24August20202 {
  color: #4f4f4f;
  font-size: 10px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 49.2754%;
  right: 28.6957%;
  top: 95.2174%;
  bottom: 0.4348%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.bxBxTime2 {
  position: absolute;
  left: 43.1884%;
  right: 52.1739%;
  top: 95.8696%;
  bottom: 0.6522%;
}
.icon2 {
  width: 100%;
  height: 100%;
}
.vishwarajsinhRana_1fByLYHA_0Un2 {
  position: absolute;
  left: 0;
  right: 59.7101%;
  top: 66.7391%;
  bottom: -20.2174%;
  background-image:/* webpackIgnore: true */ url('/assets/vishwarajsinhRana_1fByLYHA_0Un2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/maskGroup2.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/maskGroup2.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 0px 39px;
  mask-position: 0px 39px;
  -webkit-mask-size: 139px 114px;
  mask-size: 139px 114px;
}
.mathematics2 {
  color: #4f4f4f;
  font-size: 10px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 43.1884%;
  right: 38.2609%;
  top: 75.2174%;
  bottom: 20.4348%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.theEffectsOfTemperatureOnEnzym {
  color: #181818;
  font-size: 12px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 43.7681%;
  right: 0;
  top: 17.3913%;
  bottom: 73.0435%;
  flex-direction: column;
}
._1HourAgo {
  color: #4f4f4f;
  font-size: 10px;
  line-height: 20px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 49.8551%;
  right: 35.6522%;
  top: 32.6087%;
  bottom: 63.0435%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.bxBxTime3 {
  position: absolute;
  left: 43.7681%;
  right: 51.5942%;
  top: 33.2609%;
  bottom: 63.2609%;
}
.icon3 {
  width: 100%;
  height: 100%;
}
.nationalCancerInstituteL7en7Lb {
  position: absolute;
  left: -1.7391%;
  right: 56.5217%;
  top: 7.3913%;
  bottom: 58.6957%;
  background-image:/* webpackIgnore: true */ url('/assets/nationalCancerInstituteL7en7Lb.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-mask-image:/* webpackIgnore: true */ url('/assets/maskGroup3.svg');
  mask-image:/* webpackIgnore: true */ url('/assets/maskGroup3.svg');
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: 8px 21px;
  mask-position: 8px 21px;
  -webkit-mask-size: 139px 114px;
  mask-size: 139px 114px;
}
.biology {
  color: #4f4f4f;
  font-size: 10px;
  line-height: 20px;
  font-weight: 600;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 43.7681%;
  right: 45.7971%;
  top: 11.9565%;
  bottom: 83.6957%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.latestNews {
  color: #181818;
  font-size: 14px;
  line-height: 24px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 0.5797%;
  right: 75.3623%;
  top: 0;
  bottom: 94.7826%;
  width: min-content;
  height: min-content;
  white-space: nowrap;
  flex-direction: column;
}
.seeAll {
  color: #4f4f4f;
  font-size: 12px;
  line-height: 22px;
  font-family: Inter, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
    'Liberation Sans', sans-serif;
  position: absolute;
  left: 88.9855%;
  right: 0;
  top: 0.4348%;
  bottom: 94.7826%;
  width: min-content;
  height: min-content;
  text-align: end;
  align-items: end;
  white-space: nowrap;
  flex-direction: column;
}
